.Card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0.75rem;
  border-left-width: 4px;
  border-radius: 0.375rem;
  min-width: 400px;

  h2 {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #707070;
    margin-bottom: 30px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #707070;
  }

  &__red {
    background-color: rgb(254 242 242);
    border-left: solid rgb(220 38 38);

    h2 {
      color: rgb(185 28 28);
    }

    p {
      color: rgb(185 28 28);
    }
  }

  &__green {
    background-color: rgb(240 253 250);
    border-left: solid rgb(13 148 136);

    h2 {
      color: rgb(15 118 110);
    }

    p {
      color: rgb(15 118 110);
    }
  }
}
