.Stats {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #8190f5;

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    background: #fff;
    position: absolute;
    inset: 1.5vw;
    width: calc(100vw - 3vw);
    height: calc(100vh - 3vw);
    overflow: scroll;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
