.Products {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__date {
    display: flex;
    align-items: center;
    gap: 20px;

    select {
      border-radius: 0;
      padding: 5px;
      outline: none;
    }
  }
}
