@import 'styles/mixins';

.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;

  h1 {
    @include font-size(30);
    font-weight: bold;
  }

  form {
    width: 50%;
    min-width: 500px;
  }

  &__inputs {
    width: 100%;
    padding: 15px;
    border: none;
    background: rgba($color: #e5e5e5, $alpha: 0.5);
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin-bottom: 25px;
    color: #061737;

    &::placeholder {
      color: rgba($color: #061737, $alpha: 0.5);
    }
  }

  &__btn {
    padding: 15px 70px;
    border: none;
    border-radius: 15px;
    background: #061737;
    @include font-size(16);
    color: #fff;
    margin-inline: auto;
    display: block;
  }
}
