/*
  Font size in REM with PX
*/
$html-font-size: 16px;

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: rem($size);
}

/*
  Font face
*/
$font-dir: '/fonts/';

@mixin font-face($family, $fontname, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$font-dir}/#{$family}/#{$fontname}.eot'); // IE9 compat
    src: url('#{$font-dir}/#{$family}/#{$fontname}.eot?#iefix')
        format('embedded-opentype'),
      // IE8 and below
      url('#{$font-dir}/#{$family}/#{$fontname}.woff') format('woff'),
      // standards
      url('#{$font-dir}/#{$family}/#{$fontname}.ttf') format('truetype'),
      // Safari, Android, iOS
      url('#{$font-dir}/#{$family}/#{$fontname}.svg##{$family}') format(
          'svg'
        ); // legacy iOS

    font-style: $style;
    font-weight: $weight;
  }
}
